<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar') %>
    <h1>Edit <%= flight.flightNo %></h1>
    <form action="/flights" method="POST">
        <label for="airline">Airline:</label>
        <select value="<%=flight.airline%>" name="airline">
            <option value="Southwest">Southwest</option>
            <option value="American">American</option>
            <option value="United">United</option>
            <option value="JetBlue">JetBlue</option>
        </select>
        <br>
        <label for="airport">Airport:</label>
        <select value="<%=flight.airport%>" name="airport">
            <option value="DEN">DEN</option>
            <option value="ORD">ORD</option>
            <option value="SFO">SFO</option>
        </select>
        <br>
        <label for="flightNo">Flight Number</label>
        <input type="number" name="flightNo" min="10" max="9999" value="<%=flight.flightNo%>">
        <br>
        <label for="departs">Departure Date:</label>
        <input type="datetime-local" name="departs"
        <br>
        <input type="submit" value="Create Flight">
    </form>
</body>
</html>